<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="sass/style.css" />
    <title>Document</title>

    <link
      rel="icon"
      type="image/png"
      href="materials/layout_materials/img/favicon.png"
    />
  </head>
  <body>
    <div class="container">
      <!-- Header -->

      <div class="header-wrapper">
        <div class="logo">
          <div class="logo-image">
            <img src="layout_materials/img/logo.png" />
          </div>
        </div>
        <div class="search">
          <div class="search-input">
            <form>
              <input type="text" placeholder="Search rooms" />
            </form>
          </div>
        </div>
        <div class="avatar">
          <div class="avatar-image">
            <img src="layout_materials/img/user.jpg" />
          </div>
          <div class="hello">
            <div class="hello-text">Hi John</div>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="sections-wrapper">
        <!-- Sidebar -->
        <div class="sidebar-wrapper">
          <div class="sidebar-item">
            <div class="sidebar-text">
              <a href="#about">ABOUT US</a>
            </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-text">
              <a href="#hotel">HOTEL</a>
            </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-text">
              <a href="#contact">CONTACT US</a>
            </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-text"><a href="#rooms">ROOMS</a></div>
          </div>
          <div class="trademark">
            <div class="trademark-text">© 2021 All right reserved</div>
          </div>
        </div>

        <!-- Image Hero -->
        <div class="inline-wrapper">
          <div class="imageHero-wrapper">
            <div class="imageHero">
              <img src="layout_materials/img/hotel-1.jpg" />
            </div>
            <div class="imageHero">
              <img src="layout_materials/img/hotel-2.jpg" />
            </div>
            <div class="imageHero">
              <img src="layout_materials/img/hotel-3.jpg" />
            </div>
          </div>

          <!-- About us  -->
          <div class="aboutUs-wrapper">
            <div class="title">
              <div id="about" class="title-text">ABOUT US</div>
              <a href="#contact" class="link">Contact us</a>
            </div>
            <div class="content-background">
              <div class="content-text">
                <div class="content-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi nisi dignissimos debitis ratione sapiente saepe.
                  Accusantium cumque, quas, ut corporis incidunt deserunt quae
                  architecto voluptate. Accusantium cumque, quas, ut corporis
                  incidunt deserunt quae architecto voluptate delectus,
                  inventore iure aliquid aliquam.
                </div>
                <div class="content-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi nisi dignissimos debitis ratione sapiente saepe.
                  Accusantium cumque, quas, ut corporis incidunt deserunt quae
                  architecto voluptate. Accusantium cumque, quas, ut corporis
                  incidunt deserunt quae architecto voluptate delectus,
                  inventore iure aliquid aliquam.
                </div>
                <div class="content-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi nisi dignissimos debitis ratione sapiente saepe.
                  Accusantium cumque, quas, ut corporis incidunt deserunt quae
                  architecto voluptate. Accusantium cumque, quas, ut corporis
                  incidunt deserunt quae architecto voluptate delectus,
                  inventore iure aliquid aliquam.
                </div>
                <div class="content-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi nisi dignissimos debitis ratione sapiente saepe.
                  Accusantium cumque, quas, ut corporis incidunt deserunt quae
                  architecto voluptate. Accusantium cumque, quas, ut corporis
                  incidunt deserunt quae architecto voluptate delectus,
                  inventore iure aliquid aliquam.
                </div>
                <div class="content-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi nisi dignissimos debitis ratione sapiente saepe.
                  Accusantium cumque, quas, ut corporis incidunt deserunt quae
                  architecto voluptate.
                </div>
              </div>
            </div>
          </div>

          <!-- Hotel -->

          <div class="hotel-wrapper">
            <div class="title-hotel">
              <div id="hotel" class="title-text">HOTEL LAS PALMAS</div>
              <div class="title-add">
                <a href="#" class="link">Albufeira, Portrugal</a>
                <div class="votes">
                  <div class="float">8.6</div>
                  <div class="number">429 VOTES</div>
                </div>
              </div>
            </div>
            <div class="content-background">
              <!-- <div class="content-text"> -->
              <div class="content-column">
                <div class="big-column">
                  <div class="row-one">
                    <div class="content-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Animi nisi dignissimos debitis ratione sapiente saepe.
                      Accusantium cumque, quas, ut corporis incidunt deserunt
                      quae architecto voluptate.
                    </div>
                    <div class="content-description">
                      Accusantium cumque, quas, ut corporis incidunt deserunt
                      quae architecto voluptate delectus, inventore iure aliquid
                      aliquam.
                    </div>
                  </div>

                  <div class="line"></div>

                  <div class="row-two">
                    <div class="content-description">
                      <span>Close to the beach</span>
                      <span>Free airport shuttle</span>
                      <span>Air conditioning and heating</span>
                      <span>We speak all languages</span>
                    </div>
                    <div class="content-description">
                      <span>Breakfast included</span>
                      <span>Free wifi in all rooms</span>
                      <span>Pets allowed</span>
                      <span>Perfect for families</span>
                    </div>
                  </div>

                  <div class="line"></div>

                  <div class="row-three">
                    <div class="text-avatar">
                      Lucy and three other friends recommend this hotel
                    </div>
                    <div class="four-avatars">
                      <div class="avatar">
                        <img src="layout_materials/img/user-3.jpg" />
                      </div>
                      <div class="avatar">
                        <img src="layout_materials/img/user-4.jpg" />
                      </div>
                      <div class="avatar">
                        <img src="layout_materials/img/user-5.jpg" />
                      </div>
                      <div class="avatar">
                        <img src="layout_materials/img/user-6.jpg" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="small-column">
                  <div class="card">
                    <img
                      class="quotes"
                      src="../materials/layout_materials/img/double-quote-serif-left-256.png"
                    />
                    <div class="text-card">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Animi nisi dignissimos debitis ratione sapiente saepe.
                    </div>
                    <div class="card-bottom">
                      <div class="avatar-image">
                        <img src="layout_materials/img/user-1.jpg" />
                      </div>
                      <div class="mini-text">
                        <div class="avtar-name">NICK SMITH</div>
                        <div class="avatar-date">Feb 23rd, 2017</div>
                      </div>
                      <div class="votes">
                        <div class="float">7.8</div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <img
                      class="quotes"
                      src="../materials/layout_materials/img/double-quote-serif-left-256.png"
                    />
                    <div class="text-card">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Animi nisi dignissimos debitis ratione sapiente saepe.
                    </div>
                    <div class="card-bottom">
                      <div class="avatar-image">
                        <img src="layout_materials/img/user-2.jpg" />
                      </div>
                      <div class="mini-text">
                        <div class="avtar-name">MARY THOMAS</div>
                        <div class="avatar-date">Sep 13th, 2017</div>
                      </div>
                      <div class="votes">
                        <div class="float">9.3</div>
                      </div>
                    </div>
                  </div>
                  <div class="link-row">
                    <a href="#" class="link">Show all &rarr; </a>
                  </div>
                </div>

                <div class="button-column">
                  <button
                    class="button"
                    type="button"
                    data-hover="ONLY 4 ROOMS LEFT"
                    data-active="I'M ACTIVE"
                  >
                    <div>BOOK NOW</div>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Contact -->

          <div class="contact-wrapper">
            <div class="title-contact">
              <div id="contact" class="title-text">CONTACT US</div>
              <div class="title-add">
                <a href="#hotel" class="link">Hotel</a>
              </div>
            </div>
            <div class="content-background">
              <div class="content-text">
                If you have any questions please send us a message
              </div>
              <div class="form-wrapper">
                <div class="cell">
                  <form>
                    <input type="text" placeholder="Name and Surname" />
                  </form>
                </div>
                <div class="cell">
                  <form>
                    <input type="text" placeholder="Email" />
                  </form>
                </div>
                <div class="cell">
                  <form>
                    <input type="text" placeholder="Phone number" />
                  </form>
                </div>
                <div class="cell">
                  <form>
                    <textarea>Describe your message...</textarea>
                  </form>
                </div>
                <div class="button-wrapper">
                  <button class="button" type="button">SEND MESSAGE</button>
                </div>
              </div>
              <div class="content-text">
                Accusantium cumque, quas, ut corporis incidunt deserunt quae
                architecto voluptate delectus, inventore iure aliquid aliquam.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
